@page
@model IndexModel
@{
    ViewData["Title"] = "Squadron Interview";
}
<div class="text-center">
    <h1 class="display-4">Viktor Ivanovski | Squadron Interview</h1>
</div>
<div class="container">
    <li>
        <a href="/Task1">Task1</a>
    </li>
</div>